.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* макет 320 */
@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px 0 0;
    }
}
  