.place__website {
    margin: 0 0 48px;
    max-width: 100%;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin: 0 16px 32px;
        align-self: stretch;
    }
}
  